body {
    margin: 0;
    font-family: 'Smythe', cursive;
    font-size: 16px;
    box-sizing: border-box;
}
.container{
    width: 98%;
    height: 100vh;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.bb-grey {
    border-bottom: 1px solid #D2D2D2;
}

.b-black {
    border-bottom: 2px solid #393333;
}

.w-80 {
    width: 80%
}

.w-100 {
    width: 100%;
}

.mx-auto {
    margin: 0 auto;
}

.my-1 {
    margin: 1em 0;
}

.py-2 {
    padding: 2em 0;
}

.text-center {
    text-align: center;
}

.gap-1 {
    gap: 1em;
}

.gap-2 {
    gap: 2em;
}

.fc-light-grey {
    color: #8B8B8B;
}

.d-none {
    display: none;
}

header img {
    width: 20em;
    height: auto;
}

h2 {
    font-size: 1.8rem;
    font-weight: 400;
}

#menu img{
    width: 8em;
    height: 8em;
    border-radius: 10%;
    box-shadow: 0 0 5px #393333;
}

#menu img:hover{
    opacity: 0.7;
    cursor: pointer;
}

#menu p {
    font-size: 1.2rem;
}

#menu button{
    width: 24em;
    height: 3.5em;
    border-radius: 0.5em;
    border: 2px solid #bbbbbb;
}

#checkout div button{
    border: none;    
}

#menu button, #checkout div button {
    background: transparent;
    outline: none;
}

#menu button:hover{
    background: #16DB9950;
    border: transparent;
}

#checkout > button {
    width: 100%;
    padding: 1.2em 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#checkout div button {
    color: #bbbbbb;
    display: inline-block;
    font-size: 0.9rem;
    padding: 0.5em 1em;
}

#checkout div button:hover{
    color: #e15d55;
}

.price {
    font-size: 1.2rem;
}

#total {
    font-size: 2rem;
}

dialog {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 50%;
    height: 25em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    border: none;
    box-shadow: 0 0 2em black;
    border-radius: 1em;
}

#modal form {
    height: inherit;
}

#modal form h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin: 1em 0 1.4em 0;
}

#modal form input{
    margin: 0.5em 0;
    border: 0.1em solid #757575;
    border-radius: 0.3em;
    outline: none;
}

#modal form button {
    margin: 2.2em 0;
    vertical-align: center;
}

#checkout > button, 
#modal form button {
    background: #16DB99;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    border-radius: 0.2em;
} 

#modal form input, 
#modal form button {
    padding: 1.1em 1em;
}

#modal i, .submit i{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 1.4em;
    opacity: 0.6;
    font-style: inherit;
}

#modal i:hover, .submit i:hover{
    color: #e15d55;
}

.submit div img {
    width: 2em;
    height: 2em;
}

.submit h2{
    font-family: 'Smythe', cursive;
    font-size: 2em;
}

.submit img{
    height: 12em;
    width: 15em;
    border-radius: 1em;
}

/* media queries */

@media (min-width: 768px){
    h2 {
        font-size: 2rem;
        font-weight: 400;
    }
    
    #menu p {
        font-size: 1.6rem;
    }
    
    header img {
        width: 25em;
        height: auto;
    }
    
    #menu img{
        width: 10em;
        height: 10em;
        border-radius: 10%;
        box-shadow: 0 0 5px #393333;
    }
    
    #menu > div{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;        
    }
    
    #menu button{
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
    }
}

@media (min-width: 1024px){
    .container {
        width: 55%;
        height: auto;
    }
}

